/* General CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

input {
  outline: none;
}

.loadingStyle {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgba(255, 93, 91, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* not found page */

.pageNotFound {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(248, 212, 83, 0.6),
    rgba(255, 93, 91, 0.6)
  );
}

/* Welcome Page CSS */

.mainBackground {
  height: 100vh;
  background: rgba(248, 212, 83, 0.85);
  background: -webkit-linear-gradient(
      top left,
      rgba(248, 212, 83, 0.85),
      rgba(255, 93, 91, 0.85)
    ),
    url("./other/index_bg.jpeg") no-repeat center center / cover;
  background: -moz-linear-gradient(
      top left,
      rgba(248, 212, 83, 0.85),
      rgba(255, 93, 91, 0.85)
    ),
    url("./other/index_bg.jpeg") no-repeat center center / cover;
  background: linear-gradient(
      to bottom right,
      rgba(248, 212, 83, 0.85),
      rgba(255, 93, 91, 0.85)
    ),
    url("./other/index_bg.jpeg") no-repeat center center / cover;
}

.welcomeContainer {
  text-align: center;
}

.welcomeText {
  font-size: 4rem;
  padding-top: 18rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.getStarted {
  padding: 1rem 2rem;
  border: none;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.getStarted:hover {
  background: white;
  color: black;
  transition: 0.3s;
}

.welcomeSubtext {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.welcomeSubtext:hover {
  color: white;
  transition: 0.2s;
}

/* login and signup cards */

.signupCard {
  width: 25rem;
  height: 38rem;
  margin: 3rem auto;
  padding: 1rem 2rem;
}

.loginCard {
  width: 20rem;
  height: 22rem;
  margin: 7rem auto;
}

.sub-info {
  font-size: 0.9rem;
}

.linkStyle {
  text-decoration: none;
  color: rgb(90, 90, 90);
  transition: 0.2s;
}

.linkStyle:hover {
  color: black;
  transition: 0.2s;
  cursor: pointer;
}

.forgotPassCard {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 3rem;
  text-align: center;
  width: 35rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 18rem);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* home page section */

.viewDetailsCard {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 2rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.homeText {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: center;
}

/* edit page section */
.editCard {
  width: 25rem;
  height: 33rem;
  margin: 5rem auto;
  padding: 1rem 2rem;
}
